:root {
  --midnight-2: #000f39;
  --white: #ffffff;
  --alto: #d8d8d8;
  --aqua-island: #aad9d9cc;
  --chetwode-blue: #3b5998;
  --font-size-xs: 12px;
  --black: #000000;
  --chetwode-blue: #8f8fdb;
  --chetwode-blue-2: #8080d7cc;

  --font-family-outfit: "Outfit", Helvetica;
  --font-family-roboto: "Roboto", Helvetica;
}

.signup-link {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: var(--white);
}

.signup-link a {
  color: #84cecf;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}

input[type=email]::placeholder, input[type=password]::placeholder, input[type=text]::placeholder, input[type=tel]::placeholder {
  color: var(--black);
  opacity: 0.7;
}

input[type=email]:focus::placeholder, input[type=password]:focus::placeholder, input[type=text]:focus::placeholder, input[type=tel]:focus::placeholder {
  opacity: 0;
}

.login-heading {
  font-family: var(--font-family-outfit);
  font-size: 30px;
  color: var(--white);
  text-align: center;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #000f39, #303b4e);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: column;
}

form {
  background-color: #8080d738;
  border: 1px solid var(--white);
  border-radius: 100px;
  width: 540px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
  margin-top: -20px;
}

form input[type="email"], form input[type="password"], form input[type="text"], form input[type="tel"] {
  background-color: var(--alto);
  border: 1px solid var(--white);
  border-radius: 83px;
  box-shadow: 0px 4px 4px #00000040;
  width: 80%;
  padding: 10px 20px;
  margin-top: 10px;
  font-size: 16px;
  color: #000f395c;
}

form input[type="submit"] {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--chetwode-blue);
  border-radius: 83px;
  padding: 10px 20px;
  color: white;
  border: none;
  font-size: 16px;
}

.logo-container {
  margin-bottom: 20px;
}

.logo-container img {
  width: 200px; /* adjust as needed */
  height: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 540px;
}